.address-search {
  display: block;
  position: relative;

  &__form-field {
    width: 100%;
  }

  &__progress-bar {
    position: absolute;
    right: 105%;
    top: 50%;
    transform: translateY(-50%);
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}
