:host {
  display: block;
}

.dashboard-header {
  padding: 20px 25px;
  display: flex;
  justify-content: flex-end;

  &__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
  }

  &__search {
    flex: 1;
  }

  &__location-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    > * {
      padding-right: 30px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
